:root {
    --Pale-Violet: hsl(276, 100%, 81%);
    --Moderate-Violet: hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
    --Grayish-Blue: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet: hsl(270, 7%, 64%);

    /*Gradients*/
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);

    /*Secondary*/
    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Very-Light-Magenta: hsl(289, 100%, 72%);
}

* {
    font-family: 'Rubik', sans-serif;
    ;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--Light-Grayish-Violet);
    display: grid;
    grid-template-rows: 1fr 0.8fr;
    grid-template-areas: 'phone''content';
    grid-row-gap: 2rem;
    align-items: center;
    justify-items: center;
}

.phone-container {
    grid-area: 'phone';
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    grid-area: 'content';
}

h3 {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.phone {
    border-radius: 20px;
    background-color: #fff;
    width: 215px;
    height: 435px;
    position: relative;
    -webkit-box-shadow: 15px 25px 45px -20px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 15px 25px 45px -20px rgba(0, 0, 0, 0.33);
    box-shadow: 15px 25px 45px -20px rgba(0, 0, 0, 0.33);
}

.phone::before {
    content: "";
    position: absolute;
    height: 25px;
    border-radius: 35px;
    width: 50%;
    top: 0px;
    left: 27%;
    background-color: #fff;
    z-index: 1;
}

.inner-phone {
    background-color: var(--Light-Grayish-Violet);
    border-radius: inherit;
    width: 93%;
    height: 95%;
    position: absolute;
    top: 10px;
    left: 8px;
}

.inner-phone p {
    font-size: 9px;
}

.phone-header {
    background-image: linear-gradient(to left, var(--Light-Magenta), var(--Light-Violet));
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 15%;
    color: #fff;
    position: relative;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.phone-header::before {
    content: '\1438';
    font-size: 8px;
    font-weight: bold;
    line-height: 2;
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 4%
}
.phone-header::after {
    content: '\2807';
    font-size: 10px;
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 45%;
    right: 6%
}

.avatar-info {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 8%
}

.avatar-info p {
    font-size: 6px;
    margin: 0;
}

#avatar {
    border-radius: 50%;
    border: 0.5px solid #fff;
    width: 20px;
    float: left;
    margin: 0 0.3rem;
}

.chat {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.message {
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
}

.message p {
    margin: 1px;
    font-size: 0.5rem;
}

.message-left {
    color: var(--Moderate-Violet);
    background-color: hsla(276, 100%, 81%, 0.2);
    align-self: flex-start;
    width: 60%;
    border-bottom-left-radius: 3px;
}

.message-right {
    background-color: var(--White);
    align-self: flex-end;
    max-width: 60%;
    border-bottom-right-radius: 3px;
}

.images {
    background-color: var(--Light-Grayish-Violet);
    max-width: 70%;
}

.images img {
    width: 35px;
    border-radius: 7px;
    margin-left: 2px;
    margin-top: 10px;
}

.prices {
    background-image: linear-gradient(to right, var(--Light-Magenta), var(--Light-Violet));
    width: 75%;
    color: var(--White);
    position: relative;
    display: flex;
    justify-content: space-between;
}

.prices::before {
    content: "";
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 8px;
    width: 8px;
    height: 8px;
    z-index: 1;
}

.prices p {
    margin: auto auto auto 20px;
}

.prices span {
    font-weight: 500;
    font-size: 0.7rem;
    margin: 2px;
}

.box-message {
    background-color: var(--White);
    border-radius: 20px;
    margin-top: 10px;
    position: relative;
}

.box-message::before {
    content: "";
    background-color: var(--Very-Dark-Desaturated-Violet);
    border-radius: 50%;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1;
}
.box-message::after{
    content: '\003E';
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 6px;
    right: 10px;   
}

.box-message p {
    color: var(--Grayish-Blue);
    margin-left: 1rem;
}